* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* шапка сайта */

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 101px;
}

.logo {
    color: #222222;
    font-family: sans-serif;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: 0.68px;
    text-decoration: none;
    display: flex;
    align-items: center;

}

.logo span {
    display: inline-block;
    width: 93px;
    height: 19px;
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
    padding: 0;
    margin-left: 13px;

}

.container .my_acc {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
}

.container form {
    display: flex;
    align-items: center;

}


.container select:focus,
.container input:focus,
    {
    outline: none;
}



.container select {
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    width: 87px;
    height: 38px;
    padding: 0 8px 0 15px;
    border-radius: none;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.container input[type="text"] {
    padding: 0 16px;
    width: 317px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    margin: -5px;
}

.shop_bag {
    border: none;
    outline: 0;
    margin-right: 26px;
}

.container button {
    width: 36px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
}

.nav {
    margin: 0 auto;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    height: 41px;

}

.nav li {
    margin: 0 15px;
}

.nav a {

    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 7px;
}

.nav .active_link {
    border-bottom: 4px solid #ef5b70;
}

/* КОНЕЦ ШАПКИ САЙТА*/

section {
    background-color: #f8f3f4;
}

section div {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between
}


section div h2 {

    margin: 65px 0;
    color: #f16d7f;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

section div h3 {
    margin: 65px 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #636363;
    font-weight: 300;
}

main {
    width: 1200px;
    padding: 90px 30px;
    margin: 0 auto;

}

main div {
    display: flex;
}

main h2 {
    color: #222222;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
}

main .check_form {
    display: inline-block;
    margin: 40px 0 80px 35px;
    width: 340px;

}

main .check_form h3 {
    color: #222222;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}


main .check_form span {
    color: #b3b2b2;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}

main .check_form span:first-of-type {
    display: block;
    margin: 15px 0 35px 0;
}

main .check_form span:nth-of-type(2) {

    display: block;
    margin: 15px 0 33px 0;
}

main .check_form span:nth-of-type(4) {
    display: block;
    margin: 15px 0 38px;
}

main .check_form button {
    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}


main .check_form label {
    color: #222222;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

main .check_form label {
    position: relative;
    margin-right: 27px;
    padding-left: 20px;
}

main .check_form input {
    display: none;
}

main .check_form label:first-of-type {
    display: block;
}

main .check_form label:last-of-type {
    display: block;
    margin: 20px 0 33px 0;
}

main .check_form label::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 2px solid black;
    left: 0px;
}

main .check_form label::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    border: 2px solid black;
    left: 3px;
    top: 4px;
    opacity: 0;
}

main .check_form input:checked + label::after {
    opacity: 1;
}

main .registration {
    margin: 42px 0px 80px 300px;
    display: inline-block;
    width: 340px;
}


.registration .question {
    color: #222222;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.registration span:first-of-type {
    display: block;
    color: #b3b2b2;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 15px 0 30px 0;
}

.registration label {
    display: block;
    margin-bottom: 15px;
    color: #222222;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.registration label i {
    color: #ff0d0d;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.registration input {
    padding: 0 10px;
    width: 390px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 25px;
}

.registration span:last-of-type {
    display: block;
    color: #ff0d0d;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}

.registration button {
    width: 180px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.registration h3:last-of-type {
    display: inline-block;
    height: 12px;
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 32px;
}

main h2 {
    border-bottom: 1px solid #e8e8e8;
}
main h2:first-of-type {
    border: none;
}

main h2:nth-of-type(2) {
    border-top: 1px solid #e8e8e8;
}







/*                               ПОДВАЛ                            */
.cemmentarius {
    background-image: url(../img/Layer_41.png);
    background-position: center;
    background-repeat: no-repeat;
}

.comment_page {
    width: 1204px;
    margin: 0 auto;
    height: 438px;

}

.comment_page div {

    width: 600px;
    height: inherit;
    display: inline-block;
    position: relative;


}


.comment img {
    position: absolute;
    top: 111px;
    left: 31px;
}

.comment p:nth-child(1) {
    position: absolute;
    display: inline-block;
    width: 386px;
    height: 68px;
    top: 123px;
    left: 142px;
    color: #222224;
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.comment p:nth-child(2) {
    position: absolute;
    display: inline-block;
    width: 85px;
    height: 27px;
    color: #222224;
    font-family: "Lato Light";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
    top: 210px;
    left: 143px;

}

.comment p:nth-child(2) span {
    color: #f16d7f;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-family: "Lato - Bold";
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
}

.subscripe {
    position: relative;
}

.subscripe h2 {
    position: absolute;
    top: 148px;
    right: 145px;
    text-align: center;
    color: #222224;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 24px;
    font-weight: 400;
}

.subscripe h2 span {
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}


.subscripe input {
    position: absolute;
    top: 224px;
    right: 224px;
    width: 240px;
    height: 46px;
    opacity: 0.67;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    padding-left: 28px;
    border: none;
}

.subscripe button {
    position: absolute;
    top: 224px;
    right: 130px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    padding: px 20px;
}

.contact {
    width: 1200px;
    margin: 90px auto 0 auto;
    height: 370px;
    padding-top: 90px;
    position: relative;
}


.contact a {
    position: absolute;
    top: 19px;

}

.contact p {
    /* Style for "Objectivel" */
    width: 427px;
    height: 180px;
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    /* Text style for "Objectivel" */
    letter-spacing: 0.35px;
    position: absolute;
    top: 99px;
}

.contact h3 {
    position: absolute;
    /* Style for "COMPANY" */

    height: 14px;
    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "C, OMPANY" */
    letter-spacing: 0.45px;


}

#company {
    top: 33px;
    left: 519px;
}

#INFORMATION {
    top: 33px;
    right: 319px;
}

#SHOP_CATEGORY {
    top: 33px;
    right: 73px;
}

.contact ul {
    display: inline-block;
    position: absolute;
    list-style: none;
}

.contact li {
    /* Style for "Home  Shop" */
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    /* Text style for "Home" */
    letter-spacing: 0.4px;
    line-height: 59px;
    /* Text style for "Shop , Abo" */
    letter-spacing: 0.4px;
    line-height: 42px;

}

#first_list {
    top: 92px;
    right: 579px;
}

#second_list {
    top: 92px;
    right: 306px;
}

#third_list {
    top: 92px;
    right: 156px;
}

.footer {
    background-color: #e6e6e6
}

.footer_page {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.footer_page p {
    /* Style for "© 2017  Br" */
    display: inline-block;
    vertical-align: middle;

    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    /* Text style for "©,  2017" */
    letter-spacing: 0.4px;
}

.footer_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: white;
    float: right;
    margin-left: 8px;
}

.link:nth-child(6) {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;

}

.link:nth-child(5) {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-position: center;

}

.link:nth-child(4) {
    background-image: url(../img/linked.png);
    background-repeat: no-repeat;
    background-position: center;

}

.link:nth-child(3) {
    background-image: url(../img/print.png);
    background-repeat: no-repeat;
    background-position: center;

}

.link:nth-child(2) {
    background-image: url(../img/google.png);
    background-repeat: no-repeat;
    background-position: center;

}

.footer_page a:hover {
    background-color: #f16d7f
}

.footer_page a:visited {
    opacity: 1;
}
